/* line 1, ../sass/portfolio/_main.scss */
body {
  font-family: 'Montserrat', cursive;
  background-color: #fff;
  height: 100vh;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(1) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(4) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(5) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(6) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(7) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(8) {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(9) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(10) {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

@-webkit-keyframes shift1 {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 100%;
    -webkit-transform: translate(-50px, 150px) rotate(360deg);
    transform: translate(-50px, 150px) rotate(360deg);
  }
}
@keyframes shift1 {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 100%;
    -webkit-transform: translate(-50px, 150px) rotate(360deg);
    transform: translate(-50px, 150px) rotate(360deg);
  }
}
@-webkit-keyframes shift2 {
  0% {
    opacity: 0;
    right: 0%;
  }
  100% {
    opacity: 1;
    right: 100%;
    -webkit-transform: translate(45px, 162px) rotate(360deg);
    transform: translate(45px, 162px) rotate(360deg);
    position: fixed;
    top: 0;
    z-index: 3;
    left: 50%;
    border-left: none;
  }
}
@keyframes shift2 {
  0% {
    opacity: 0;
    right: 0%;
  }
  100% {
    opacity: 1;
    right: 100%;
    -webkit-transform: translate(45px, 162px) rotate(360deg);
    transform: translate(45px, 162px) rotate(360deg);
    position: fixed;
    top: 0;
    z-index: 3;
    left: 50%;
    border-left: none;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dropin {
  0% {
    -webkit-transform: translate(0px, 1000px);
    transform: translate(0px, 1000px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes dropin {
  0% {
    -webkit-transform: translate(0px, 1000px);
    transform: translate(0px, 1000px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes fadein_link {
  0% {
    border-bottom: solid 0px white;
  }
  50% {
    border-bottom: solid 6px white;
  }
  100% {
    border-bottom: solid 3px white;
  }
}
@keyframes fadein_link {
  0% {
    border-bottom: solid 0px white;
  }
  50% {
    border-bottom: solid 6px white;
  }
  100% {
    border-bottom: solid 3px white;
  }
}
@-webkit-keyframes crashfromleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-500px, 0px) rotate(0deg);
    transform: translate(-500px, 0px) rotate(0deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(3deg);
    transform: translate(0px, 0px) rotate(3deg);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(8deg);
    transform: translate(0px, 0px) rotate(8deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes crashfromleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-500px, 0px) rotate(0deg);
    transform: translate(-500px, 0px) rotate(0deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(3deg);
    transform: translate(0px, 0px) rotate(3deg);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(8deg);
    transform: translate(0px, 0px) rotate(8deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
/* line 208, ../sass/portfolio/_main.scss */
.main-container {
  padding: 0;
  margin: 0;
  max-width: none;
  height: 100vh;
}
/* line 213, ../sass/portfolio/_main.scss */
.main-container span {
  font-weight: 800;
  color: white;
  font-size: 4rem;
  top: 35%;
  text-align: center;
  width: 100%;
}
/* line 221, ../sass/portfolio/_main.scss */
.main-container .hero-image {
  position: absolute;
  right: calc(50% - 102px);
  background-color: black;
  width: 115px;
  top: 167px;
  height: 90px;
  background-image: url(../../assets/images/headshot.png);
  background-size: cover;
  background-position: 50% 45%;
  opacity: 0;
  z-index: 1;
  -webkit-animation: fadein .3s;
  animation: fadein .3s;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
}
/* line 239, ../sass/portfolio/_main.scss */
.main-container .cube-one,
.main-container .cube-two {
  height: 100px;
  padding: 5px;
  width: 62px;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  opacity: 0;
  position: relative;
}
/* line 250, ../sass/portfolio/_main.scss */
.main-container .cube-one {
  -webkit-animation: shift1 1s;
  animation: shift1 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  border: 5px solid #fff;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  border-right: none;
}
/* line 262, ../sass/portfolio/_main.scss */
.main-container .cube-two {
  border: 5px solid black;
  -webkit-animation: shift2 1s;
  animation: shift2 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  float: right;
  z-index: 3;
  position: fixed;
  border-left: none;
}
/* line 274, ../sass/portfolio/_main.scss */
.main-container .cube-image {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 99;
}
/* line 280, ../sass/portfolio/_main.scss */
.main-container .hero-left {
  white-space: nowrap;
  background-color: black;
  overflow: hidden;
  padding-left: 100px;
  -webkit-animation: dropin 1s;
  animation: dropin 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-transform: translate(0px, 1000px);
  -ms-transform: translate(0px, 1000px);
  transform: translate(0px, 1000px);
  -webkit-animation-fill-mode: forwards;
  transition: all .3s;
}
/* line 294, ../sass/portfolio/_main.scss */
.main-container .hero-left span {
  opacity: 0;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  text-shadow: -1px -1px 0px #f8ffd8, 3px 3px 0px #303030, 6px 6px 0px #000000;
}
/* line 303, ../sass/portfolio/_main.scss */
.main-container .hero-left h2 {
  font-size: 2vw;
  font-weight: 800;
  color: white;
  opacity: 0;
  -webkit-animation: crashfromleft 1s;
  animation: crashfromleft 1s;
  -webkit-animation-fill-mode: forwards;
}
/* line 312, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer,
.main-container .hero-left .hero-left-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 800;
}
/* line 320, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav,
.main-container .hero-left .hero-left-footer nav {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 328, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .linkedin,
.main-container .hero-left .hero-left-footer nav .linkedin {
  border-bottom: solid 6px black;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 333, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .linkedin:hover,
.main-container .hero-left .hero-left-footer nav .linkedin:hover {
  -webkit-animation: fadein_link .2s;
  animation: fadein_link .2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #0075B5;
}
/* line 343, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .twitter,
.main-container .hero-left .hero-left-footer nav .twitter {
  border-bottom: solid 6px black;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 348, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .twitter:hover,
.main-container .hero-left .hero-left-footer nav .twitter:hover {
  -webkit-animation: fadein_link .2s;
  animation: fadein_link .2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #1ea1f2;
}
/* line 358, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .github,
.main-container .hero-left .hero-left-footer nav .github {
  border-bottom: solid 6px black;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 363, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .github:hover,
.main-container .hero-left .hero-left-footer nav .github:hover {
  -webkit-animation: fadein_link .2s;
  animation: fadein_link .2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 372, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .wordpress,
.main-container .hero-left .hero-left-footer nav .wordpress {
  animation: delayedHelp 7s ease-in-out;
  animation-delay: 5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 51px;
  padding: 1px;
}
@keyframes delayedHelp {
  0% {
    width: 48px;
    height: 50px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  10% {
    width: 255px;
    background-color: #d54e21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
  }
  90% {
    width: 255px;
    background-color: #d54e21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
  }
  100% {
    width: 48px;
    height: 50px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 420, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .wordpress .reveal,
.main-container .hero-left .hero-left-footer nav .wordpress .reveal {
  animation: delayedText 7s ease-in-out;
  animation-delay: 5s;
  font-size: .7rem;
  color: #d54e21;
  margin: 0 auto;
  opacity: 0;
}
@keyframes delayedText {
  0% {
    transform: translateX(-500px);
    opacity: 0;
    white-space: nowrap;
  }
  15% {
    color: white;
    display: block;
    margin: 0 auto;
    opacity: 1;
    white-space: nowrap;
    transform: translateX(0px);
  }
  85% {
    color: white;
    display: block;
    margin: 0 auto;
    opacity: 1;
    white-space: nowrap;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
    opacity: 0;
  }
}
/* line 455, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .wordpress:hover,
.main-container .hero-left .hero-left-footer nav .wordpress:hover {
  width: 255px;
  background-color: #d54e21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
/* line 462, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .wordpress:hover .reveal,
.main-container .hero-left .hero-left-footer nav .wordpress:hover .reveal {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
  color: white;
  display: inline;
  margin: 0 auto;
  opacity: 1;
}
/* line 473, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav a,
.main-container .hero-left .hero-left-footer nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 0 35px;
  font-size: 2.9rem;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 482, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav a:hover,
.main-container .hero-left .hero-left-footer nav a:hover {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: inline;
}
/* line 489, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav .email,
.main-container .hero-left .hero-left-footer nav .email {
  font-size: 1vw;
}
/* line 495, ../sass/portfolio/_main.scss */
.main-container .hero-right {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
/* line 500, ../sass/portfolio/_main.scss */
.main-container .hero-right .fa-angle-down {
  font-size: 3rem;
  position: fixed;
  bottom: 0;
  right: 40%;
}
/* line 506, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-title {
  width: 100%;
  margin: 0;
  padding: 0 25px;
}
/* line 510, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-title > h2 {
  text-shadow: 3px 3px 4px #c6c6c6;
}
/* line 513, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-title p {
  text-align: right;
}
/* line 517, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-project {
  width: 100%;
  opacity: 0;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
}
/* line 526, ../sass/portfolio/_main.scss */
.main-container .hero-right .project {
  text-align: right;
  float: right;
  width: 100%;
  margin: 80px 0;
  transition: all .5s;
}
/* line 532, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .featured-content {
  float: right;
  padding: 15px;
}
/* line 539, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div > article .close small {
  font-family: Montserrat;
  display: block;
  font-size: 1rem;
  text-shadow: 1px 1px black;
  text-align: center;
}
/* line 549, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div {
  margin-bottom: 5px;
  position: relative;
  transition: all .5s;
}
/* line 550, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .left {
  transition: all .5s;
}
/* line 553, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .close {
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 2rem;
  padding: 5px;
  color: #f3f3f3;
  transition: all .3s;
  border: 1px solid black;
  outline: 1px solid white;
}
/* line 565, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .close .fa-window-close {
  -webkit-text-stroke: 1px black;
  text-align: center;
}
/* line 568, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .close .fa-window-close small {
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px grey;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
/* line 575, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .close:hover {
  transform: scale(1.3);
  transition: all .3s;
}
/* line 583, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .media-content {
  cursor: pointer;
  justify-content: center;
  opacity: 0;
  box-shadow: 2px 2px 5px black;
  background: white;
  padding: 0 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 50px;
  width: 50px;
  margin: -25px auto;
  transition: all .5s;
}
/* line 599, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div .fade-content {
  transition: all .5s;
  opacity: 1;
}
/* line 605, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .image {
  height: auto;
  display: block;
  overflow: hidden;
}
/* line 609, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .image .proj-image {
  background-position: center;
  background-size: cover;
  height: auto;
  overflow: hidden;
}
/* line 618, ../sass/portfolio/_main.scss */
.main-container .hero-right h2 {
  text-align: right;
  color: black;
  font-size: 3vw;
  width: 100%;
}
/* line 625, ../sass/portfolio/_main.scss */
.main-container .fade-div {
  transition: all .5s;
  filter: brightness(0.4);
}
/* line 629, ../sass/portfolio/_main.scss */
.main-container .move-div {
  flex-grow: 0;
  transition: all .5s;
}

/* line 636, ../sass/portfolio/_main.scss */
.navbar {
  background-color: #fff;
  padding: 15px;
}

/* line 641, ../sass/portfolio/_main.scss */
.slide-left {
  width: 10%;
  flex: 0;
  transition: all 2s;
}
