/* line 1, ../sass/portfolio/_main.scss */
body {
  font-family: 'Montserrat', cursive;
  background-color: #fff;
  height: 100vh;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(6) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(7) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(8) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(9) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

/* line 8, ../sass/portfolio/_main.scss */
.main-container .hero-left h2:nth-child(10) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

@keyframes shift1 {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 100%;
    transform: translate(-50px, 150px) rotate(360deg);
  }
}
@keyframes shift2 {
  0% {
    opacity: 0;
    right: 0%;
  }
  100% {
    opacity: 1;
    right: 100%;
    transform: translate(45px, 162px) rotate(360deg);
    position: fixed;
    top: 0;
    z-index: 3;
    left: 50%;
    border-left: none;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropin {
  0% {
    transform: translate(0px, 1000px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes fadein_link {
  0% {
    border-bottom: solid 0px white;
  }
  100% {
    border-bottom: solid 3px white;
  }
}
@keyframes crashfromleft {
  0% {
    opacity: 0;
    transform: translate(-500px, 0px) rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: translate(0px, 0px) rotate(3deg);
  }
  40% {
    opacity: 1;
    transform: translate(0px, 0px) rotate(8deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
/* line 100, ../sass/portfolio/_main.scss */
.main-container {
  padding: 0;
  margin: 0;
  max-width: none;
  height: 100vh;
}
/* line 105, ../sass/portfolio/_main.scss */
.main-container span {
  font-weight: 800;
  color: white;
  font-size: 4rem;
  top: 35%;
  text-align: center;
  width: 100%;
}
/* line 113, ../sass/portfolio/_main.scss */
.main-container .hero-image {
  position: absolute;
  right: calc(50% - 102px);
  background-color: black;
  width: 115px;
  top: 167px;
  height: 90px;
  background-image: url(../../assets/images/headshot.png);
  background-size: cover;
  background-position: 50% 45%;
  opacity: 0;
  z-index: 1;
  animation: fadein .3s;
  animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
}
/* line 129, ../sass/portfolio/_main.scss */
.main-container .cube-one,
.main-container .cube-two {
  height: 100px;
  padding: 5px;
  width: 62px;
  transition: .5s ease-in;
  opacity: 0;
  position: relative;
}
/* line 138, ../sass/portfolio/_main.scss */
.main-container .cube-one {
  animation: shift1 1s;
  animation-delay: 1s;
  border: 5px solid #fff;
  transition: .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  border-right: none;
}
/* line 146, ../sass/portfolio/_main.scss */
.main-container .cube-two {
  border: 5px solid black;
  animation: shift2 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  float: right;
  z-index: 3;
  position: fixed;
  border-left: none;
}
/* line 156, ../sass/portfolio/_main.scss */
.main-container .cube-image {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 99;
}
/* line 162, ../sass/portfolio/_main.scss */
.main-container .hero-left {
  background-color: black;
  overflow: hidden;
  padding-left: 100px;
  animation: dropin 1s;
  animation-delay: .5s;
  transform: translate(0px, 1000px);
  -webkit-animation-fill-mode: forwards;
}
/* line 170, ../sass/portfolio/_main.scss */
.main-container .hero-left span {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  text-shadow: -1px -1px 0px #f8ffd8, 3px 3px 0px #303030, 6px 6px 0px #000000;
}
/* line 177, ../sass/portfolio/_main.scss */
.main-container .hero-left h2 {
  font-size: 2vw;
  font-weight: 800;
  color: white;
  opacity: 0;
  animation: crashfromleft 1s;
  -webkit-animation-fill-mode: forwards;
}
/* line 185, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer,
.main-container .hero-left .hero-left-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 800;
}
/* line 193, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav,
.main-container .hero-left .hero-left-footer nav {
  margin-bottom: 50px;
}
/* line 195, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav a,
.main-container .hero-left .hero-left-footer nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 0 35px;
  font-size: 2.5vw;
}
/* line 201, ../sass/portfolio/_main.scss */
.main-container .hero-left .footer nav a:hover,
.main-container .hero-left .hero-left-footer nav a:hover {
  border-bottom: solid 2px white;
  display: inline;
  padding-bottom: 3px;
  animation: fadein_link .2s;
}
/* line 211, ../sass/portfolio/_main.scss */
.main-container .hero-right {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 215, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-title {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 220, ../sass/portfolio/_main.scss */
.main-container .hero-right .hero-right-project {
  width: 100%;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
}
/* line 227, ../sass/portfolio/_main.scss */
.main-container .hero-right .project {
  text-align: right;
  float: right;
  width: 70%;
  margin: 80px 0;
}
/* line 232, ../sass/portfolio/_main.scss */
.main-container .hero-right .project > div {
  margin-bottom: 80px;
}
/* line 235, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .image {
  height: 250px;
  width: 500px;
  display: block;
  overflow: hidden;
}
/* line 240, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .image .proj-image {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 500px;
  overflow: hidden;
  transition: scale 5s;
}
/* line 248, ../sass/portfolio/_main.scss */
.main-container .hero-right .project .image .proj-image:hover {
  animation: zoom;
  animation-duration: 15s;
  -webkit-animation-fill-mode: forwards;
}
/* line 256, ../sass/portfolio/_main.scss */
.main-container .hero-right h2 {
  text-align: right;
  color: black;
  font-size: 3vw;
  width: 100%;
}

/* line 265, ../sass/portfolio/_main.scss */
.navbar {
  background-color: #fff;
  padding: 15px;
}
