<div [@openClose]="closed ? 'closed' : 'open'" class="greet_main">
  <div class="title">
    <video #banner autoplay loop muted src="https://bd-angular.us-ord-1.linodeobjects.com/banner.mp4"></video>
    <span>Happy Birthday</span>
  </div>
  <div class="content">
    <p>Another year, and we be older.</p>
    <p>Happy birthday babe, made you a little card!</p>
    <p>Glad you are around in my life, and I'm excited for all the birthdays to come.</p>
    <p>You're the best thing, and I love you very much!</p>

    <p class="sig">- Mike</p>
  </div>
  <div class="controls">
    <div (click)="leadOut()" style="text-decoration: underline; flex: 1">
      Rock Out?
    </div>
    <div (click)="togglePlay()" style="margin-right: 16px">
      <mat-icon *ngIf="bgm_music.paused" color="primary">play_arrow</mat-icon>
      <mat-icon *ngIf="!bgm_music.paused" color="primary">paused_arrow</mat-icon>
    </div>

    <mat-slider color="primary" max="1" min="0" step="0.1">
      <input (valueChange)="updateVol($event)" [value]=".5" matSliderThumb>
    </mat-slider>
    <button (click)="toggleMute()" aria-label="Mute button" color="primary" mat-icon-button>
      <mat-icon *ngIf="!bgm_music.muted" color="primary">volume_up</mat-icon>
      <mat-icon *ngIf="bgm_music.muted" color="primary">volume_off</mat-icon>
    </button>
  </div>
</div>
