body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: Helvetica, sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

.video__controls {
  mat-icon {
    font-size: 64px!important;
    height: 64px!important;
    width: 64px!important;
    border: 2px solid white;
    color: white!important;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px black;
  }
}

.back {
  mat-icon {
    font-size: 64px!important;
    height: 64px!important;
    width: 64px!important;
    color: white!important;
  }
}
