body {
    font-family: 'Montserrat', cursive;
    background-color: $paleyellow;
    height: 100vh;
}

@for $i from 1 through 10 {
    .main-container .hero-left h2:nth-child(#{$i}) {
        -webkit-animation-delay:(#{$i*0.5s});
        animation-delay:(#{$i*0.5s});
    }
}

@keyframes delayedHelp {
    0% {}
}

@-webkit-keyframes shift1 {
    0% {
        opacity: 0;
        left: 0%;
    }
    100% {
        opacity: 1;
        left: 100%;
        -webkit-transform: translate(-50px, 150px) rotate(360deg);
        transform: translate(-50px, 150px) rotate(360deg);
    }
}

@keyframes shift1 {
    0% {
        opacity: 0;
        left: 0%;
    }
    100% {
        opacity: 1;
        left: 100%;
        -webkit-transform: translate(-50px, 150px) rotate(360deg);
        transform: translate(-50px, 150px) rotate(360deg);
    }
}

@-webkit-keyframes shift2 {
    0% {
        opacity: 0;
        right: 0%;
    }
    100% {
        opacity: 1;
        right: 100%;
        -webkit-transform: translate(45px, 162px) rotate(360deg);
        transform: translate(45px, 162px) rotate(360deg);
        position: fixed;
        top: 0;
        z-index: 3;
        left: 50%;
        border-left: none;
    }
}

@keyframes shift2 {
    0% {
        opacity: 0;
        right: 0%;
    }
    100% {
        opacity: 1;
        right: 100%;
        -webkit-transform: translate(45px, 162px) rotate(360deg);
        transform: translate(45px, 162px) rotate(360deg);
        position: fixed;
        top: 0;
        z-index: 3;
        left: 50%;
        border-left: none;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dropin {
    0% {
        -webkit-transform: translate(0px, 1000px);
        transform: translate(0px, 1000px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes dropin {
    0% {
        -webkit-transform: translate(0px, 1000px);
        transform: translate(0px, 1000px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes fadein_link {
    0% {
        border-bottom: solid 0px rgb(255, 255, 255);
    }
    50% {
        border-bottom: solid 6px rgb(255, 255, 255);
    }
    100% {
        border-bottom: solid 3px rgb(255, 255, 255);
    }
}

@keyframes fadein_link {
    0% {
        border-bottom: solid 0px rgb(255, 255, 255);
        font-size: 2.9vw;
    }
    50% {
        border-bottom: solid 6px rgb(255, 255, 255);
    }
    100% {
        border-bottom: solid 3px rgb(255, 255, 255);
    }
}

@-webkit-keyframes crashfromleft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-500px, 0px) rotate(0deg);
        transform: translate(-500px, 0px) rotate(0deg);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(3deg);
        transform: translate(0px, 0px) rotate(3deg);
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(8deg);
        transform: translate(0px, 0px) rotate(8deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes crashfromleft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-500px, 0px) rotate(0deg);
        transform: translate(-500px, 0px) rotate(0deg);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(3deg);
        transform: translate(0px, 0px) rotate(3deg);
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(8deg);
        transform: translate(0px, 0px) rotate(8deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}

.main-container {
    padding: 0;
    margin: 0;
    max-width: none;
    height: 100vh;
    span {
        font-weight: 800;
        color: white;
        font-size: 4rem;
        top: 35%;
        text-align: center;
        width: 100%;
    }
    .hero-image {
        position: absolute;
        right: calc(50% - 102px);
        background-color: black;
        width: 115px;
        top: 167px;
        height: 90px;
        background-image: url(../../assets/images/headshot.png);
        background-size: cover;
        background-position: 50% 45%;
        opacity: 0;
        z-index: 1;
        -webkit-animation: fadein .3s;
        animation: fadein .3s;
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
        -webkit-animation-fill-mode: forwards;
    }
    .cube-one,
    .cube-two {
        height: 100px;
        padding: 5px;
        width: 62px;
        -webkit-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
        opacity: 0;
        position: relative;
    }
    .cube-one {
        -webkit-animation: shift1 1s;
        animation: shift1 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        border: 5px solid $paleyellow;
        -webkit-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
        -webkit-animation-fill-mode: forwards;
        border-right: none;
    }
    .cube-two {
        border: 5px solid $red;
        -webkit-animation: shift2 1s;
        animation: shift2 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        float: right;
        z-index: 3;
        position: fixed;
        border-left: none;
    }
    .cube-image {
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: 99;
    }
    .hero-left {
        background-color: $red;
        overflow: hidden;
        padding-left: 100px;
        -webkit-animation: dropin 1s;
        animation: dropin 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-transform: translate(0px, 1000px);
        -ms-transform: translate(0px, 1000px);
        transform: translate(0px, 1000px);
        -webkit-animation-fill-mode: forwards;
        span {
            opacity: 0;
            -webkit-animation: fadein 1s;
            animation: fadein 1s;
            -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
            -webkit-animation-fill-mode: forwards;
            text-shadow: -1px -1px 0px #f8ffd8, 3px 3px 0px #303030, 6px 6px 0px #000000;
        }
        h2 {
            font-size: 2vw;
            font-weight: 800;
            color: white;
            opacity: 0;
            -webkit-animation: crashfromleft 1s;
            animation: crashfromleft 1s; // animation-delay: 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .footer,
        .hero-left-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            font-weight: 800;
            nav {
                margin-bottom: 50px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .linkedin {
                    border-bottom: solid 6px rgb(0, 0, 0);
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    &:hover {
                        -webkit-animation: fadein_link .2s;
                        animation: fadein_link .2s;
                        -webkit-animation-fill-mode: forwards;
                        -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                        color: #0075B5
                    }
                }
                .twitter {
                    border-bottom: solid 6px rgb(0, 0, 0);
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    &:hover {
                        -webkit-animation: fadein_link .2s;
                        animation: fadein_link .2s;
                        -webkit-animation-fill-mode: forwards;
                        -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                        color: #1ea1f2;
                    }
                }
                .github {
                    border-bottom: solid 6px rgb(0, 0, 0);
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    &:hover {
                        -webkit-animation: fadein_link .2s;
                        animation: fadein_link .2s;
                        -webkit-animation-fill-mode: forwards;
                        -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                    }
                }
                .wordpress {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-animation: none;
                    animation: none;
                    width: 48px;
                    height: 46px;
                    border-radius: 50px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .reveal {
                        font-size: .7rem;
                        color: orange;
                        display: none;
                        margin: 0 auto;
                        opacity: 0;
                    }
                    &:hover {
                        width: 255px;
                        background-color: #d54e21;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        white-space: nowrap;
                        .reveal {
                            -webkit-transition-delay: .5s;
                            -o-transition-delay: .5s;
                            transition-delay: .5s;
                            color: white;
                            display: inline;
                            margin: 0 auto;
                            opacity: 1;
                        }
                    }
                }
                a {
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                    margin: 0 35px;
                    font-size: 2.9vw;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    &:hover {
                        -webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                        display: inline;
                    }
                }
                .email {
                    font-size: 1vw;
                }
            }
        }
    }
    .hero-right {
        background-color: $paleyellow;
        overflow-x: hidden;
        overflow-y: scroll;
        .fa-angle-down {
            font-size: 3rem;
            position: fixed;
            bottom: 0;
            right: 40%;
        }
        .hero-right-title {
            width: 100%;
            margin: 0;
            padding: 0;
            >h2 {
                text-shadow: 3px 3px 4px #c6c6c6;
            }
            p {
                text-align: right;
            }
        }
        .hero-right-project {
            padding-right: 25px;
            width: 100%;
            opacity: 0;
            -webkit-animation: fadein 1s;
            animation: fadein 1s;
            -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
            -webkit-animation-fill-mode: forwards;
        }
        .project {
            text-align: right;
            float: right;
            width: 70%;
            margin: 80px 0;
            &>div {
                margin-bottom: 80px;
            }
            .image {
                height: 250px;
                display: block;
                overflow: hidden;
                .proj-image {
                    background-position: center;
                    background-size: cover;
                    height: 250px;
                    overflow: hidden;
                    -webkit-transition: scale 5s;
                    -o-transition: scale 5s;
                    transition: scale 5s;
                    &:hover {
                        -webkit-animation: zoom;
                        animation: zoom;
                        -webkit-animation-duration: 15s;
                        animation-duration: 15s;
                        -webkit-animation-fill-mode: forwards;
                    }
                }
            }
        }
        h2 {
            text-align: right;
            color: $red;
            font-size: 3vw;
            width: 100%;
        }
    }
}

.navbar {
    background-color: $paleyellow;
    padding: 15px;
}